.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
table {
  margin: 0 0 _size(element-margin) 0;
  width: 100%;
}
table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}
table td {
  padding: 0.75em 0.75em;
}
table th {
  font-size: 0.9em;
  font-weight: _font(weight-bold);
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}
table thead {
  border-bottom: solid 2px;
}
table tfoot {
  border-top: solid 2px;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}
table tbody tr {
  border-color: _palette(, border);
}
table tbody tr:nth-child(2n + 1) {
  background-color: _palette(, border-bg);
}
table th {
  color: _palette(, fg-bold);
}
table thead {
  border-bottom-color: _palette(, border);
}
table tfoot {
  border-top-color: _palette(, border);
}
table.alt tbody tr td {
  border-color: _palette(, border);
}
